<!-- start Logo -->
<div class="flex items-center max-w-[var(--left-sidebar-width)]">
    <a href="{{site.index_path}}" class="flex items-center gap-2">
        {% assign logo_url = site.settings.logo_url | presence %}
        {% if logo_url %}
            <img src="{{ logo_url }}" class="h-12 max-w-full rounded-md" alt="{{ site.name | escape_once }}" />
        {% else %}
            {% assign favicon_url = site.favicon_url | presence %}
            {% if favicon_url %}
                <img src="{{ favicon_url }}" class="size-8 rounded-md" alt="{{ site.name | escape_once }}" />
            {% endif %}
            <span class="hidden md:block text-xl font-bold">{{ site.name }}</span>
        {% endif %}
    </a>
</div>
<!-- end Logo -->