{% assign default_icon = 'images/icon.svg' | asset_url %}

<div class="relative" style="background-color: rgb(245 245 245 / 39%)">
  {% comment %} 背景 {% endcomment %}
  {% if page.settings.hero_bg_type.value == '1' %}
    <div class="absolute inset-x-0 overflow-hidden -top-10 -z-10 transform-gpu blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1200/800] w-[80w] -translate-x-1/2 rotate-[30deg] opacity-30 sm:left-[calc(50%-20rem)] sm:w-[82.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%); background-color: {{ page.settings.hero_bg_color }}"></div>
    </div>
  {% elsif page.settings.hero_bg_type.value == '2' %}
    {% assign default_hero_image = 'images/hero.jpg' | asset_url %}
    {% assign bg_image_url =  page.settings.hero_image_url | escape_once | default: default_hero_image %}

    <div class="absolute w-full bg-center bg-cover -z-10" style="height: {{ page.settings.hero_height }}px; background-image: url({{ default_hero_image }})"></div>
  {% endif %}

  <section class="mx-auto max-w-[var(--max-content-width)] px-4 md:px-0">
    <!-- 顶部自定义输入板块 -->
    <section>
      {{ site.settings.features_one }}
    </section>

    <!-- 搜索区域1 -->
    <div class="container flex flex-col h-full m-auto mb-10" style="height: {{ page.settings.hero_height }}px;">
      <div class="flex flex-col items-center justify-center flex-grow">
        {{ assign hero_slogan = page.settings.hero_slogan | presence }}
        {% if hero_slogan %}
          <h1 class="py-2 my-4 leading-8 text-2xl md:text-4xl font-bold transition duration-500 md:mt-0 text-shadow">
            {{ hero_slogan }}
          </h1>
        {% endif %}
        <div class="z-0 flex flex-col items-center justify-center w-full md:w-2/3">
          {% form_tag 'search', class: 'w-full' %}
            <div class="relative">
              <button type="button" class="pointer-events-none absolute inset-y-0 right-0 flex items-center pl-5 pr-3 sm:right-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>
              </button>
              <input
                type="search"
                name="{{form.keywords_field_name}}" value="{{ search.keywords | escape_once }}"
                placeholder="{{ "layout.theme.search_input_placeholder" | t }}"
                autocomplete="off"
                class="block w-full h-14 pr-6 pl-12 text-lg transition duration-300 ease-in-out bg-white dark:bg-gray-600 bg-opacity-75 focus:bg-opacity-90 placeholder:text-gray-300 rounded-full outline-none
                  {% if page.settings.hero_bg_type.value == '0' %}
                    border border-gray-200 dark:border-slate-700 hover:ring-4 hover:ring-primary hover:bg-primary/10 dark:hover:ring-slate-500 dark:hover:bg-slate-600
                  {% else %}
                    border-none hover:ring-4 hover:ring-primary
                  {% endif %}
                "
              >
            </div>
          {% endform_tag %}

          <div class='space-y-1 w-full mt-2'>
            {% # 自定义标签搜索 %}
            {% assign search_hot_tags = page.settings.search_hot_tags %}
            {% if search_hot_tags.size > 0 %}
              <div class="items-center justify-start w-full md:flex flex-wrap md:px-5">
                <div class="inline-block text-sm text-gray-500 dark:text-gray-100">
                  <span class="mr-2">{{ 'layout.theme.search_tags_label' | t }}:</span>
                  {% for tag in search_hot_tags %}
                    <a
                      href="{{ tag.path }}"
                      data-turbo-frame="_top"
                      class="mr-2 hover:text-primary focus:ring hover:-translate-y-[2px] min-w-12"
                    >
                      {{ tag.name }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% # 热门搜索 %}
            {% assign hot_keywords = page.settings.search_hot_keywords | split: ';' %}
            {% if hot_keywords.size > 0 %}
              <div class="items-center justify-start w-full md:flex flex-wrap md:px-5">
                <div class="inline-block text-sm text-gray-500 dark:text-gray-100">
                  <span class="mr-2">{{ 'layout.theme.search_keywords_label' | t }}:</span>
                  {% for hot_keyword in hot_keywords %}
                    <a
                      href="{{site.index_path}}-/search?q={{ hot_keyword }}"
                      class="mr-2 hover:text-primary focus:ring hover:-translate-y-[2px] underline"
                    >
                      {{ hot_keyword }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class='space-y-10'>
      <!-- 栏目导览 -->
      {% if page.settings.show_channels_section %}
        {% assign channel_pages = site.pages['/'].children_in_list |  order_by: '-created_at' %}
        <section>
          <div class="flex items-center text-xl md:text-2xl h-8 mb-4 font-bold text-slate-800 dark:text-slate-200">
            <div class="w-1 h-full mr-3 bg-primary"></div>
            {{ page.settings.channels_section_title }}
          </div>
          <div class="items-start lg:max-w-none grid grid-cols-2 gap-3 md:grid-cols-4 lg:grid-cols-6 lg:gap-2">
            {% for channel_page in channel_pages %}
              <a href="{{ channel_page.path }}" class="flex flex-col text-center items-center text-md h-full px-2 py-4 bg-white hover:bg-blue-100 dark:bg-slate-700 text-slate-800 dark:text-slate-200 rounded-md overflow-hidden shadow">
                {% if channel_page.settings.icon %}
                  <span><img src="{{ channel_page.settings.icon | default: default_icon }}" class="h-8"/> </span>
                {% else %}
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 w-8 h-8 text-primary">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 0 1 2.25-2.25h7.5A2.25 2.25 0 0 1 18 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 0 0 4.5 9v.878m13.5-3A2.25 2.25 0 0 1 19.5 9v.878m0 0a2.246 2.246 0 0 0-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0 1 21 12v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6c0-.98.626-1.813 1.5-2.122" />
                    </svg>
                  </span>
                {% endif %}
                <h3 class="line-clamp-1 mt-1">{{ channel_page.link_text }}</h3>
              </a>
            {% endfor %}
          </div>
        </section>
      {% endif %}

      <!-- 最新文章 -->
      {% if page.settings.show_newest_section %}
        {% assign newest_pages = site.pages['/'].pages_in_list | order_by: '-created_at' | limit: 10 %}
        <section>
          <div class="flex items-center text-xl md:text-2xl h-8 mb-4 font-bold text-slate-800 dark:text-slate-200">
            <div class="w-1 h-full mr-3 bg-primary"></div>
            <span>{{ page.settings.newest_section_title }}</span>
          </div>

          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 p-4 gap-y-4 bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-200 rounded-md overflow-hidden">
            {% for sub_page in newest_pages %}
              <a class="flex items-center justify-between transition transform group"
                href="{{ sub_page.path }}">
                <div class="flex">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400 transition group-hover:text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                  </svg>
                  <h6 class="ml-2 transition text-gray-550 group-hover:text-primary">
                    {{ sub_page.link_text }}
                  </h6>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 mr-4 text-gray-500 transition group-hover:text-primary group-hover:translate-x-3 md:transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
              </a>
            {% endfor %}
          </div>
        </section>
      {% endif %}

      <!-- 专题推荐: 由站点在页面中勾选的页面组成 -->
      {% if page.settings.show_topic_channel %}
        <section class="flex flex-col h-full mx-auto">
          {% query topic_channels from site.pages %}
            {
              "where": {
                "settings.is_topic_channel_eq": true
              }
            }
          {% endquery %}
          <div class="flex items-center text-2xl h-8 mb-4 font-bold text-slate-800 dark:text-slate-200">
            <div class="w-1 h-full mr-3 bg-primary"></div>
            <span>{{ page.settings.topic_channel_title }}</span>
          </div>
          <div class="items-start lg:max-w-none grid grid-cols-1 gap-2 md:gap-4 md:grid-cols-3">
            {% for card_page in topic_channels %}
              <!-- Card -->
              <div class="flex flex-col h-full bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-200 rounded-md overflow-hidden">
                <!-- Image -->
                <!-- Card Content -->
                <div class="flex-1 flex flex-col p-6">
                  <!-- Card body -->
                  <div class="flex-1">
                    <!-- Header -->
                    <header class="mb-2">
                      <div class="flex items-center justify-start">
                        {% if site.settings.show_card_icon %}
                          {% if card_page.settings.icon %}
                            <span class="mr-2"><img src="{{ card_page.settings.icon | default: default_icon }}" class="h-8"/> </span>
                          {% else %}
                            <span class="mr-2">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 w-8 h-8 text-primary">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 0 1 2.25-2.25h7.5A2.25 2.25 0 0 1 18 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 0 0 4.5 9v.878m13.5-3A2.25 2.25 0 0 1 19.5 9v.878m0 0a2.246 2.246 0 0 0-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0 1 21 12v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6c0-.98.626-1.813 1.5-2.122" />
                              </svg>
                            </span>
                          {% endif %}
                        {% endif %}
                        <a class="text-xl font-semibold hover:text-primary" href="{{ card_page.path }}">
                          <h3 class="line-clamp-1">{{ card_page.link_text }}</h3>
                        </a>
                      </div>
                    </header>
                    <!-- Content -->
                    <div class="my-4">
                      <ul>
                        {% assign limit_page_count = page.settings.topic_section_card_list_count | default: 5 %}
                        {% assign sub_pages = card_page.children_in_list | limit: limit_page_count %}
                        {% for sub_page in sub_pages %}
                          <li class="mt-2 truncate">
                            <a
                              href="{{ sub_page.path }}"
                              class="relative transition duration-500 group text-gray-550 text-tiny hover:text-primary"
                            >
                              <span
                                class="absolute inline-block w-1.5 h-1.5 border-0 bg-gray-400 rounded-full group-hover:bg-primary transition duration-500 top-2"
                              ></span>
                              <span class="ml-4 line-clamp-1">{{ sub_page.link_text }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <!-- Card footer -->
                  <div class="flex justify-end space-x-2 border-t border-slate-200 dark:border-gray-700 pt-3 md:pt-5">
                    <a href="{{ card_page.path }}" class="cursor-pointer text-primary">{{ 'generic.read_more' | t: '查看更多' }}</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>
      {% endif %}

      <!-- 热门话题 -->
      {% if page.settings.show_hottest_section %}
        {% assign hottest_pages = site.pages['/'].pages_in_list | order_by: '-visits_count' | limit: 10 %}
        <section class="bg-transparent">
          <div class="flex items-center h-8 mb-4 text-2xl font-bold text-slate-800 dark:text-slate-200">
            <div class="w-1 h-full mr-3 bg-primary"></div>
            <span>{{ page.settings.hottest_section_title }}</span>
          </div>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 p-4 gap-y-4 bg-white dark:bg-slate-800 text-slate-800 dark:text-slate-200 rounded-md overflow-hidden">
            {% for page in hottest_pages %}
              <a class="flex items-center justify-between transition transform group"
                href="{{ page.path }}">
                <div class="flex">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400 transition group-hover:text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                  </svg>
                  <h6 class="ml-2 transition text-gray-550 group-hover:text-primary">
                    {{ page.link_text }}
                  </h6>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5 mr-4 text-gray-500 transition group-hover:text-primary group-hover:translate-x-3 md:transform" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
              </a>
            {% endfor %}
          </div>
        </section>
      {% endif %}

      <!-- 底部自定义输入板块 -->
      <section>
        {{ site.settings.features_two }}
      </section>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "t:schema.templates.index.help_center.name",
    "description": "t:schema.templates.index.help_center.description",
    "thumb_url": "images/schema/index-help-center.png",
    "preview_image_urls": [
      "images/schema/index-help-center.png"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "hero_bg_type",
        "type": "radio",
        "label": "t:schema.templates.index.help_center.settings.hero_bg_type.label",
        "choices": [
          {"label": "t:schema.templates.index.help_center.settings.hero_bg_type.choices.none", "value": "0" },
          {"label": "t:schema.templates.index.help_center.settings.hero_bg_type.choices.color", "value": "1" },
          {"label": "t:schema.templates.index.help_center.settings.hero_bg_type.choices.image", "value": "2" }
        ],
        "default": "1",
        "info": "t:schema.templates.index.help_center.settings.hero_bg_type.info"
      },
      {
        "id": "hero_height",
        "type": "range",
        "label": "t:schema.templates.index.help_center.settings.hero_height.label",
        "info": "t:schema.templates.index.help_center.settings.hero_height.info",
        "min": 100,
        "max": 600,
        "step": 10,
        "unit": "px",
        "default": 360
      },
      {
        "id": "hero_image_url",
        "type": "image_picker",
        "ratio": "4:1",
        "width": 900,
        "label": "t:settings_schema.generic.settings.hero_image_url.label",
        "info": "t:settings_schema.generic.settings.hero_image_url.info"
      },
      {
        "id": "hero_bg_color",
        "type": "color",
        "label": "t:schema.templates.index.help_center.settings.hero_bg_color.label",
        "info": "t:schema.templates.index.help_center.settings.hero_bg_color.info",
        "default": "#f8fafc"
      },
      {
        "id": "hero_slogan",
        "type": "text",
        "default": "t:schema.templates.index.help_center.settings.hero_slogan.default",
        "label": "t:schema.templates.index.help_center.settings.hero_slogan.label",
        "info": "t:schema.templates.index.help_center.settings.hero_slogan.info"
      },
      {
        "id": "search_hot_tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:schema.templates.index.help_center.settings.search_hot_tags.label",
        "info": "t:schema.templates.index.help_center.settings.search_hot_tags.info"
      },
      {
        "id": "search_hot_keywords",
        "type": "text",
        "label": "t:schema.templates.index.help_center.settings.search_hot_keywords.label",
        "info": "t:schema.templates.index.help_center.settings.search_hot_keywords.info"
      },
      {
        "id": "show_channels_section",
        "label": "t:schema.templates.index.help_center.settings.show_channels_section.label",
        "type": "checkbox",
        "default": true,
        "info": "t:schema.templates.index.help_center.settings.show_channels_section.info"
      },
      {
        "id": "channels_section_title",
        "label": "t:schema.templates.index.help_center.settings.channels_section_title.label",
        "type": "text",
        "default": "t:schema.templates.index.help_center.settings.channels_section_title.default"
      },
      {
        "id": "show_newest_section",
        "label": "t:schema.templates.index.help_center.settings.show_newest_section.label",
        "type": "checkbox",
        "default": true,
        "info": "t:schema.templates.index.help_center.settings.show_newest_section.info"
      },
      {
        "id": "newest_section_title",
        "label": "t:schema.templates.index.help_center.settings.newest_section_title.label",
        "type": "text",
        "default": "t:schema.templates.index.help_center.settings.newest_section_title.default"
      },
      {
        "id": "show_topic_channel",
        "label": "t:schema.templates.index.help_center.settings.show_topic_channel.label",
        "type": "checkbox",
        "default": true,
        "info": "t:schema.templates.index.help_center.settings.show_topic_channel.info"
      },
      {
        "id": "topic_channel_title",
        "label": "t:schema.templates.index.help_center.settings.topic_channel_title.label",
        "type": "text",
        "default": "t:schema.templates.index.help_center.settings.topic_channel_title.default"
      },
      {
        "id": "show_hottest_section",
        "label": "t:schema.templates.index.help_center.settings.show_hottest_section.label",
        "type": "checkbox",
        "default": true,
        "info": "t:schema.templates.index.help_center.settings.show_hottest_section.info"
      },
      {
        "id": "hottest_section_title",
        "label": "t:schema.templates.index.help_center.settings.hottest_section_title.label",
        "type": "text",
        "default": "t:schema.templates.index.help_center.settings.hottest_section_title.default"
      }
    ]
  }
{% endschema %}
