<main class="flex-col-container">
  <!-- Page header -->
  <div class="flex justify-between">
    <a href="javascript: history.back();" class="mr-auto font-medium inline-flex items-center rounded-full px-4 py-2 bg-gray-100 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-800">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2">
        <path fill="currentColor"
          d="M16.707 19.293 9.414 12l7.293-7.293-1.414-1.414L6.586 12l8.707 8.707 1.414-1.414z"></path>
      </svg>
      <span class="text-xs md:text-sm font-medium">{{ "generic.back" | t }}</span>
    </a>
    <div></div>
  </div>

  <article class="flex-col-container">
    <header class="mb-6">
      <h1 class="text-2xl lg:text-4xl py-4 text-primary dark:text-white">
        # {{ tag.name }}
      </h1>
    </header>

    {% paginate_tag tag.pages, as: 'pages' %}
      {% if paginate.total_count > 0 %}
        <section class="space-y-6">
          {% for page in pages %}
            <div class="space-y-3 rounded-md md:p-4 lg:p-6 dark:bg-slate-900">
              <a class="text-lg font-bold md:text-xl text-slate-800 hover:text-secondary dark:text-slate-200" href="{{ page.path }}">{{ page.link_text | highlight: tag.name }}</a>
              <p class="text-sm line-clamp-3 text-slate-400">{{ page.settings.content | strip_html | highlight: search.keywords }}</p>
              <div class="hidden overflow-x-auto md:block">
                {% render 'breadcrumb', breadcrumb: page.breadcrumb, min_depth: 2 %}
              </div>
            </div>
          {% endfor %}
          {% render 'paginate', paginate: paginate %}
        </section>
      {% else %}
        <div class="flex-1 flex items-center justify-center">
          {{ 'generic.empty' | t }}
        </div>
      {% endif %}
    {% endpaginate_tag %}
  </article>
</main>
