<main class="px-4">
<div class="w-full max-w-[var(--max-content-width)] mx-auto pt-4">
  <!-- tag name -->
  <div class="rounded-lg shadow mb-4" style="--bg-color: hsl({{ tag.color_hls[0] }}, {{ tag.color_hls[1] }}%, 95%); --color: {{ tag.color }}">
    <div class="h-5 rounded-t-lg bg-[var(--color)]"></div>
    <div class="px-3 py-6 text-xl rounded-b-lg bg-[var(--bg-color)]">
      <span class="flex-grow w-0 break-words font-semibold text-[--color]"> # {{ tag.name }}</span>
    </div>
  </div>

  <!-- filters by tag name -->
  <ul role="list" class="space-y-2">
    {% paginate_tag tag.pages, as: 'pages' %}
      {% for page in pages %}
        <li class="p-3 bg-gray-50 rounded-lg hover:bg-gray-100">
          <div class="flex gap-1">
            <div>
              <div class="flex space-x-2 items-start">
                <div class="shrink-0 pt-[1px]">
                  <span class="inline-flex justify-center items-center w-5 h-5 text-xs rounded-full bg-primary-100">{{ forloop.index }}</span>
                </div>
                <div class='flex-1'>
                  <a class="block text-lg text-slate-800 search-highlight-block hover:underline" href="{{ page.url }}" data-turbo-frame="_top">
                    {{ page.link_text }}
                  </a>
                  <a href="{{ page.url }}" data-turbo-frame="_top" class="block text-xs text-gray-500 font-inter">{{ page.url }}</a>
                  {% if page.settings.description | presence %}
                    <p class="my-3 text-sm line-clamp-3 text-slate-400 search-highlight-block">{{ page.settings.description }}</p>
                  {% endif %}
                  <div class="flex justify-between items-center text-gray-600">
                    <div class="hidden overflow-x-auto text-sm md:block">
                      {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% else %}
        <div class="rounded-lg bg-white py-24 text-sm flex justify-center">{{ 'generic.empty' | t }}</div>
      {% endfor %}
      {% render 'paginate', paginate: paginate %}
    {% endpaginate_tag %}
  </ul>
</div>
</main>